.grid {
  height: 100%;
  width: 100%;
}

.klineRow {
  border-bottom: 1px solid #3f3f46;
  border-top: 1px solid #3f3f46;
  box-sizing: border-box;
  height: 586px;
  overflow: hidden;
  width: 100%;
}
