.headerActions {
  align-items: center;
  display: flex;
  gap: 10px;
}

.tableWrap {
  display: block;
  height: calc(100vh - 190px);
  /* min-height: 640px; */
}

.fullscreenTableWrap {
  flex: 1;
  height: auto;
  min-height: 0;
}
